* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
}
body {
  max-width: 100%;
  max-height: 100%;
}
#box {
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.656);
}
